################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Crimson
/ConvertToCrimson/obj
/ConvertToCrimson/bin/Debug/net6.0
*.user
